* {
  box-sizing: border-box;
}

body {
  margin:0;
  font-family: 'Allerta Stencil', sans-serif;
  text-align: center;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.container {
  display: grid;
  grid-template-rows: 1fr 8fr;
}

/***************************************
Content
*****************************************/
.content{
  height:600px;
  background: url(4.jpg)no-repeat center center fixed;
}

header img{
  padding-top: 30px;
  width:390px;
}

button{
  font-family: 'Allerta Stencil', sans-serif;
  font-weight: bold;
  background-image: url(butt.jpg);
  border: none;
  color: white;
  font-size: 1.3em;
  margin-right: 15px;
  padding: 5px 10px;
}
form {
  padding: 40px;
}

input{
  border: none;
  font-size: 1.7em;
}
ul{
  list-style: none;
}
li{
  color: rgb(83,167,203);
  background-color: rgb(255,255,255, .7);
  font-size: 1.5em;
}
h2{
  color: black;
  font-weight: bold;
}

/***************************************
Javascript class
*****************************************/
.checked{
  text-decoration: line-through;
}


/***************************************
MEDIA QUERIES
*****************************************/

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){

}

/* mobile */
@media screen and (max-width: 767px){

}
